.app-header {
  padding: 16px 24px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 24px;
}

.app-title {
  margin: 0;
  font-size: 30px;
  text-decoration:underline;
  text-align: center;
}
h1{
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
  }
